body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    background-color: #B2D2A4;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    font-size: 100%;
    background-color: #B2D2A4;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover {
    background-color: #94C973;
}

main {
    padding: 77px;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-gap: 20px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    padding: 20px;
}

.box3 {
    margin-left: 186px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;

}

.box3-content {
    height: 551px;
    width: 950px;
    align-self: center;
}

footer {
    background-color: #B2D2A4;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #B2D2A4;
    clear: both;
}

/* Titel en inleiding */
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

/* Onze geschiedenis */
.history {
    margin-bottom: 3rem;
}

.history h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.history p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* Ons team */
.team {
    margin-bottom: 3rem;
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Medewerkers */
.employee {
    display: flex;
    flex-wrap: wrap;
}

.employee img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.employee h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 10px;
}

.employee p {
    font-size: 1.1rem;
    padding-left: 20px;
    padding-top: 50px;
}

/* Onze visie */
.vision {
    margin-bottom: 3rem;
}

.vision h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.vision p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image {
    position: relative;
}